<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
				<div class="row">
				</br>
				</br>
				</br>
				</br>
				</br>
				</br>
                		<div class="col-lg-12 text-center">
				<!-- <div class="col-md-6 col-sm-1"> -->
		    		<img src="../css/2017_style/img/sematif5.png">
       				
				<!-- <div class="container">
				<div class="intro-text">
				<div class="row">
                		<div class="col-lg-12 text-center">
				<div class="col-md-6 col-sm-1">
		    		<img src="../css/2017_style/img/sematif5.png"> -->

                		<div class="intro-heading"> <font size="20px" color="#D1EA2D"> 2ª Semana da Matemática </font><br></div>
                		<div class="intro-heading"> <font size="20px" color="#D1EA2D"> IFSP - Itapetininga/SP</font></div>
                		<div class="intro-heading"> <font size="20px" color="#D1EA2D"> De 16 a 19 de Outubro de 2018 </font> </div>
                		<a href="#intro" class="page-scroll btn btn-xl">Saiba mais</a>

<!--intro-lead-in -->

            </div>
        </div>
    </header>

    {% include 2017_data/intro.html %}
    {% include 2017_data/speakers.html %}
    {% include 2017_data/minicursos.html %}
    {% include 2017_data/about.html %}
    {% include 2017_data/sponsors.html %}
    {% include 2016_data/contact.html %}
    {% include 2016_data/footer.html %}
    {% include 2017_data/speakers_info.html %}
    {% include 2017_data/minicursos_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>
